*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} 

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
	html {
			font-size: 112%;
			overflow-y: scroll;
	}
}

/* Large screens (1024 px) */
@media (min-width: 64rem) {
	html {
			font-size: 120%;
			overflow-y: scroll;
	}
}

body {
	background-color: #93C8FE;
	color: #DDEDFE;
}

/* The following 4 IDs identify attributes for div tags which will organize the page */
#logo {
	display: table;
	margin: 0 auto;
	padding: 5px;
}

#header {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

#container {
	/*background-color:#C6E2FF;*/
	background-color: #6AB2FD;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 1000px;
	padding: 10px 1px 5px 1px;
}

#footer {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 20px;
	clear: both;
}

/* For centering images. Used a class selector because it may be used frequently. */
img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2.blog {
	text-align: center;
}

a:link {
	color:#1A84F2;
	text-decoration: none;
}

a:visited {
	color:#1A84F2;
	text-decoration: none;
}

a:hover {
	color:#FFFFFF;
}

form {
	margin-left: 10%;
	margin-right: 10%;
}

input {
	display: block;
	margin-bottom: 20px;
}

.formcontrolcolor {
	color: #000000;
}

label {
	float: left;
	display: block;
	text-align: right;
	width: 120px;
	padding-right: 5px;
}

p {
	margin-left: 10%;
	margin-right: 10%;
}

p.heading {
	text-align: center;
	font-weight: bold;
}

textarea {
	display: block;
	margin-bottom: 20px;
}

table {
	margin-left: 2%;
	margin-right: 2%;
}

table.hobbies {
	margin-left:10%;
	margin-right:10%;
}

td {
	text-align: left;
	vertical-align: top;
}

td.aligned  {
	vertical-align: top;
}

ul.resumelists {
	margin-left:10%;
	margin-right:10%;
}

#left {
	display: block;
	float: left;
	padding: 10px;
	width: 150px;
}

#left a {
	border-radius: 10px;
	color: #C9E3FE;
	display: block;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	text-align: center;
}

#left a:link {
	/*background-color:#89C4FF;*/
	background-color: #439DFB;
}

#left a:visited {
	/*background-color:#89C4FF;*/
	background-color: #439DFB;
}

#left a:hover {
	/*background-color:#0F87FF;*/
	background-color: #1A84F2;
}

#left ul {
	list-style-type: none;
	margin: 0;
	padding-left:0;
}

#left li {
	padding: 2px 5px 2px 5px;
}

#right {
	margin-left: 135px;
	padding: 0px 20px 0px 0px;
}

/* The following two IDs organize the center and the right "columns" of the blog. */
#centerblog {
	float: left;
	display: inline-block;
	width: 698px;
}

#rightblog {
	float: left;
	width: 150px;
}