*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} 

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
	html {
		font-size: 112%;
		overflow-y: scroll;
	}
}

/* Large screens (1024 px) */
@media (min-width: 64rem) {
	html {
		font-size: 120%;
		overflow-y: scroll;
	}
}

body {
	background-color: #93C8FE;
	color: #DDEDFE;
}

/* The following 4 IDs identify attributes for div tags which will organize the page */
#logo {
	display: table;
	margin: 0 auto;
	padding: 5px;
}

/*Needed to make logo dimensions 300 x 60 for small screens*/
img.logo {
	width: 240px;
	height: 48px;
}

/* Fixes logo size for screens 640px */
@media (min-width: 40rem) {
	img.logo {
		width: 300px;
		height: 60px;
	}
}

/* Fixes logo size for screens 640px */
@media (min-width: 64rem) {
	img.logo {
		width: 360px;
		height: 72px;
	}
}

/* ID for formatting heading within the body tag */
#header {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

/* Container id for all elements in the body tag of the page (for small screens (default)) */
#container {
	/*border: solid 1px;*/
	background-color: #6AB2FD;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 300px;
	padding: 10px 1px 5px 1px;
}

/* Container id adjusted for medium screens (640px) */
@media (min-width: 40rem) {
	#container {
		width: 600px;
	}
}
 
/* Container id adjusted for large screens (1024px) */
@media (min-width: 64rem) {
	#container {
		width: 1000px;
	}
} 

/* ID for the footer at the end of every page */
#footer {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 20px;
	clear: both;
}

/* For centering images. Used a class selector because it may be used frequently. */
img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* This is strictly sizing information for the GIF on the hobbies page */
#gifsize {
	 height: 90%;
	 width: 90%;
}

/* #gifsize adjusted for large screens (1024px) */
@media (min-width: 64rem) {
	#gifsize {
		height: auto;
		width: auto;
	}
}

/* For aligning h2 tags on the blog page*/
h2.blog {
	text-align: center;
}

/***************Standard Link Format***************/
a:link {
	color:#1A84F2;
	text-decoration: none;
}

a:visited {
	color:#1A84F2;
	text-decoration: none;
}

a:hover {
	color:#FFFFFF;
}
/***************Standard Link Format***************/

a:hover.inpagelink {
	color:#DDEDFE;
}

/***********************Forms**********************/
form {
	margin-left: 10%;
	margin-right: 10%;
}

input {
	display: block;
	margin-bottom: 10px;
}

.formcontrolcolor {
	color: #000000;
}

label {
	float: left;
	display: block;
	text-align: right;
	width: 120px;
	padding-right: 5px;
}

textarea {
	display: block;
	margin-bottom: 20px;
}
/***********************Forms**********************/

p.heading {
	text-align: center;
	font-weight: bold;
}

/***********************Tables*********************/
table {
	margin-left: 2%;
	margin-right: 2%;
}

table.hobbies {
	margin-left:10%;
	margin-right:10%;
}

td {
	text-align: left;
	vertical-align: top;
}

td.aligned  {
	vertical-align: top;
}
/***********************Tables*********************/

ul.resumelists {
	margin-left:10%;
	margin-right:10%;
}

/* Left ID for formatting the navigation bar */
#left {
	display: block;
	float: left;
	padding: 10px;
	width: 299px;
}

/* #left resized for medium screens (640px) */
@media (min-width: 40rem) {
	#left {
		width: 150px;
	}
}

#left a {
	border-radius: 10px;
	color: #C9E3FE;
	display: block;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	text-align: center;
}

#left a:link {
	background-color: #439DFB;
}

#left a:visited {
	background-color: #439DFB;
}

#left a:hover {
	background-color: #1A84F2;
}

#left ul {
	list-style-type: none;
	margin: 0;
	padding-left:0;
}

#left li {
	padding: 2px 5px 2px 5px;
}

#right {
	float: left;
	padding-left: 2%;
	width: 300px;
}

/* #right resized for medium screens (640px) */
@media (min-width: 40rem) {
	#right {
		padding-left: 1%;
		width: 448px;
	}
}
 
/* #right resized for large screens (1024px) */
@media (min-width: 64rem) {
	#right {
		width: 848px;
	}
}

/* #centerblog and #rightblog organize the center and the right "columns" of the blog page. */
#centerblog {
	padding-left: 7%;
	padding-right: 7%;
	width: 300px;
}

#rightblog {
	width: 100px;
}

/* #centerblog and #rightblog resized for medium screens (640px) */
@media (min-width: 40rem) {
	#centerblog {
		clear:both;
		width: 600px;
	}
	
	#rightblog {
		float:right;
		width: 125px;
	}
}
 
/* #centerblog and #rightblog resized for large screens (1024px) */
@media (min-width: 64rem) {
	#centerblog {
		clear:none;
		float:left;
		width: 698px;
	}
	
	#rightblog {
		width: 150px;
	}
}